/proj_1/robot_pkg_1/build/
/proj_1/robot_pkg_1/install/
/proj_1/robot_pkg_1/log/
/proj_1/build/
/proj_1/install/
/proj_1/log/
/home/aidin/A/ros2_projects/proj_2/carter_nav_ws/build/
/home/aidin/A/ros2_projects/proj_2/carter_nav_ws/log/
/home/aidin/A/ros2_projects/proj_2/carter_nav_ws/install/
